{% extends 'base.html.twig' %}
{% block body %}
  <div class="container">
    <div class="results">
      <h2>Your Take Home Breakdown</h2>
      <p>Assuming that you are making <strong>${{income}}</strong> and living in <strong>{{city}}, {{state_name}}</strong></p>
      <p>Annual federal tax <strong>${{fed}}</strong></p>
      <p>Annual state tax <strong>${{state}}</strong></p>
      <p>Your estimated cost of living in {{city}} is <strong>${{col}}</strong> per month <small>(this includes utilities, transport, clothes, sports and leisure, markets, restaurants - <a href="https://www.numbeo.com/cost-of-living/in/{{city}}">source</a>)</small></p>
      <p>Cost of renting a 1bdrm apt in the city is <strong>${{rent}}</strong> <small><a href="https://www.numbeo.com/cost-of-living/in/{{city}}">source</a></small></p>
      <p>After paying the tax man and the costs just to live, you take home <strong>${{mth}}</strong> per month and <strong>${{ath}}</strong> per year</p>
    </div>
  </div>
{% endblock %}
